@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  margin: 0;
  padding: 0;
}
.container-text-image{
  width:100vw;
  display:flex;
  justify-content:space-around;
  height:100%;
  background-color:rgba(248, 247, 245, 1);
  font-family: Muli;
  align-items: center;
  padding: 20% 0;
  font-size:2em;
}

.text-middle-page {
  flex-grow: 1;
  padding-left: 3em;
}

.text-middle-content {
  font-size: 1.3em;
  line-height: 1.2em;
  letter-spacing: 2px;
  font-weight:400;
  color:rgba(205, 198, 190, 1);
  flex-grow:1;
}

.image-middle-page{
  height:100%;
  flex-grow:1;
  background: url("/images/nino.png");
  background-repeat: repeat;
  background-size: cover;
}

.image-middle-content {
  height: 5.8em;
  padding-left: 40px;
}



/* ----------nav---------- */

#box-menu {
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
}

#box-menu-open {
    width: 350px;
    background-color: #C7D8D2;
    height: 100vh;
    position: absolute;
    right: 0;
}

.box-initial-hidden{
  top: -100vh;
}

.box-hidden {
  top: -100vh;
  animation-duration: .6s;
  animation-name:slideup;
  
}

.box-visible{
  animation-duration: .6s;
  animation-name:slidedown;
  top:0;
}



#content-menu {
  background-color: #C7D8D2;
  padding: 1.8em 2em;
  width: 3em;
}

#box-close-menu{
    text-align: right;
    width: auto;
}

#image-close {
  width: 40%;
}

#menu-list {
  padding: 0em 4em;
  list-style: none;
}

.menu-item{
  margin-bottom: 1.2em;
}

.menu-item > a {
  color: white;
  text-decoration: none;
  font-size:2em;
  margin-bottom:2em;
  font-family:Muli;
  font-weight:600;
  font-style: italic;
}

#menu-open-social{
  padding: 4em;
}

.social-icon {
  height:1.5em;
  margin-right:1em;
}

@keyframes slidedown {
  from {
    top: -100vh; 
  }
  to {
   top: 0;
  }
}

@keyframes slideup {
  from {
    top: 0; 
  }
  to {
   top: -100vh;
  }
}